/* Importing font styles from another sites */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Definin basic styles */
:root{
    --primaryColor:black;
    --secondaryColor:white;
    --thirdColor:#FF900E;
    --forthColor:red;
    --lightGrey:#727272;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header Setion Start */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 30px 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
nav ul li{
    font-size: 1.2vw;
    list-style-type: none;
}

.nav-heading{
    font-size: 3vw;
    font-weight: bold;
}

/* Header Main 2nd Part After Navigation */
.header-main{
    text-align: center;
}
.heaer-and-description{
    padding: 110px 200px 50px 200px;
}
.header-main-heading{
    font-size: 5.2vw;
    font-weight: bold;
}
.header-main-description{
    margin-top: 20px;
    font-size: 1.2vw;
    line-height: 1.5;
}

.header-main-button button{
    margin-top: 25px;
    padding: 12px;
    border: hidden;
    background-color: var(--thirdColor);
    border-radius: 5px;
    font-weight: bolder;
    color: var(--secondaryColor);
}

.header-main-image img{
    width: 100%;
}
/* Header Setion End */

    /* -------------------
            MAIN SECTION
        ------------------- */

        .container{
            padding: 80px 150px;
        }

        /* work with section-1 */
        .section-1{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 70px;
        }

        .left-section1{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
        .left-section1 img{
            height: 300px;
            width: 300px;
            border-radius: 10px;
            box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.358);
        }

        .right-section1-heading{
            font-size:3.2vw;
            line-height: 1.5;
        }
        .right-section1-heading-style{
            color: rgba(0, 0, 0, 0.422);
        }
        .right-section1-heading-style1{
            font-weight: bolder;
            color: var(--thirdColor);
        }
        .right-section1-description{
            margin-top: 
            15px;
            line-height: 1.5;
        }

        /* Section 02 Start */

        .section-2{
            padding: 60px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 54px;
        }

        .section2-left1-heading{
            font-size: 2vw;
            font-weight: bolder;
            border-left: 5px solid var(--thirdColor);
            padding: 10px;
        }

        .section2-left1-description{
            font-size: 1vw;
            margin-top: 24px;
            line-height: 1.5;
            color: var(--lightGrey);
        }

        /* Card Design */

        .section2-left2{
            margin-top: 4px;
        }
        .section2-left2-card{
            margin-top: 20px;
            padding: 12px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.098);
        }
        .section2-left2-card-heading{
            font-size: 1.2vw;
            font-weight: bolder;
        }
        .section2-left2-card-description{
            margin-top: 14px;
            font-size: 1vw;
            line-height: 1.5;
            color: var(--lightGrey);
            ;
        }

        .section2-right1{
            position: relative;
        }

        .section2-right-image img{
            width: 600px;
        }
        .section2-right-btn {
            position: absolute;
            margin: -15% 0% 0% -5%;
        }
        .section2-right-btn button{
            border: hidden;
            border-radius: 5px;
            padding: 24px;
            background-color: var(--thirdColor);
        }
        .ten-year{
            font-size: 4vw;
            font-weight: bolder;
            color: var(--secondaryColor);
        }
        .experience{
            font-size: 1.5vw;
            color: var(--secondaryColor);
        }

        /* Section 02 End */
.section3-1{
    padding-top: 30px;
}
.section3-1heading{
    font-size: 3vw;
    font-weight: bold;
}
.section3-description{
    font-size: 1.2vw;
    line-height: 1.5;
    margin-top: 40px;
    color: var(--lightGrey);
}

.break::after{
    content: '\A';
    white-space: pre;
}

.section3-2{
    padding: 60px 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    align-items: center;
    gap: 80px;

}


.award-number{
    margin-top: 20px;
    font-size: 3vw;
    font-weight: bold;
}
.award-heading{
    margin-top: 12px;
    color: var(--lightGrey);
}

.awards-cards{
    padding: 20px;
    border: 2px solid var(--thirdColor);
    border-radius: 8px;
    transition-property: font-size, awards-cards;
}

.awards-cards:hover .award-number{
    color: var(--primaryColor);
    font-size: 4.5vw;
    transition-duration: 2s;
    transition-delay: 0.1s;
}

.awards-cards:hover{
    background-color: var(--thirdColor);
    transition-duration: 2s;
}
        /* Section 03 Start */

         

        /* Section 03 End */

/*--------------------------------------
        RESPONSIVE DESIGN
---------------------------------------*/

/* For Tablet or Landscape devices */
@media only screen and (min-width:577px) and (max-width:992px) {
   /* Header Setion Start */
    header{
        padding: 20px 20px;
    }
    .nav-heading{
        font-size: 4vw;
      }
    nav{
        justify-content: space-around;
    }
    nav ul li{
        font-size: 2.2vw;
    }
    .heaer-and-description{
        padding: 50px 60px 20px 60px;
    }
    .header-main-description{
        font-size: 2vw;
    }
    /* Header Setion End */

    /* Section 01 */
    .container{
        padding: 30px 30px;
    }
    .left-section1 img{
        height: 100%;
        width: 100%;
    }


    /* Section 02 Start */

    .section2-right-image img{
        width: 100%;
    }
    /* Section 02 End */

    /* Section 03 Start */


    .section3-description{
        font-size: 1.5vw;
    }

    /* Section 04 End */

}

/* For small, medium and Large Mobile devices */
@media only screen and (max-width:576px) {
    
    /* Header Setion Start */
    header{
        padding: 30px 10px;
    }
    .nav-heading{
        font-size: 6vw;
      }
    nav{
        flex-direction: column;
        
    }
    nav ul{
       padding-right: 10%;
    }
    nav ul li{
        font-size: 4.2vw;
    }
    .heaer-and-description{
        padding: 20px 20px 20px 20px;
    }
    .header-main-description{
        font-size: 3vw;
    }
    .header-main-heading{
        color: var(--forthColor);
        line-height: 1.6;
    }
    .header-main-image img{
        width: 75%;
    }
    /* Header Setion End */

     /* Section 01 */
     .container{
        padding: 30px 30px;
    }
    .left-section1 img{
        /* height: 100%; */
        width: 100%;
    }
    .section-1{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .left-section1{
        grid-template-columns: repeat(1,1fr);
    }
    .section-1-btn,  .right-section1-heading{
        text-align: center;
    }
    .right-section1-heading{
        font-size:6.2vw;
    }

        /* Section 02 Start */

        .section2-right-image img{
            width: 100%;
        }

        .section-2{
            flex-direction: column;
        }

        .section2-left1-heading{
            font-size: 5vw;
        }

        .section2-left1-description{
            font-size: 3vw;
        }
        .section2-left2-card-heading{
            font-size: 3vw;
        }

        .section2-left2-card-description{
            font-size: 2.5vw;
        }

        .section2-right-btn {
            position: static;
            margin-left: 25%;
        }

        .ten-year{
            font-size: 7vw;
        }
        .experience{
            font-size: 2.5vw;
        }
        /* Section 02 End */


        /* Section 03 start */
        .section3-1{
            padding-top: 0px;
        }
        .section3-1heading {
            font-size: 5vw;
        }

        .section3-description{
            font-size: 2.2vw;
        }
        .section3-2{
            padding: 30px 0px;
            grid-template-columns: repeat(2,1fr);
        }

        .award-number{
            font-size: 5vw;
        }

    }